@using UniversityCourseAndResultMangementSystem.Models

@{
    ViewBag.Title = "StudentResultSave";
    List<RegisterStudentModel> registerList = ViewBag.registerList;
    List<GradeModel> gradeList = ViewBag.gradeList;
}

<h2>Student Result Save</h2>
<form id="studentResultSave" class="container" method="POST">
    <div class="form-horizontal">
        <fieldset>
            <div>
                @if (ViewBag.message != null)
                {
                    <h4>@ViewBag.message</h4>
                }
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="StudentId">Student Reg No.</label>
                </div>
                <div class="col-sm-10">
                    <select id="StudentId" name="StudentId" class="form-control">
                        <option value="">----Select----</option>
                        @foreach (var register in registerList)
                        {
                            <option value=@register.StudentId>@register.RegistationNumber</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="StudentName">Name</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" id="StudentName" name="StudentName" readonly="readonly" placeholder="<view>" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="StudentEmail">Email</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="StudentEmail" id="StudentEmail" readonly="readonly" placeholder="<view>" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="DepartmentName">Department</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="DepartmentName" id="DepartmentName" readonly="readonly" placeholder="<view>" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="CourseId">Select Course</label>
                </div>
                <div class="col-sm-10">
                    <select id="CourseId" name="CourseId" class="form-control">
                        <option value="">----Select----</option>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="GradeId">Student Reg No.</label>
                </div>
                <div class="col-sm-10">
                    <select id="GradeId" name="GradeId" class="form-control">
                        <option value="">----Select----</option>
                        @foreach (var grade in gradeList)
                        {
                            <option value=@grade.GradeId>@grade.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="submitButton">Enroll</button>
                </div>
            </div>

        </fieldset>
    </div>

</form>
@section scripts{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#studentResultSave").validate({
                rules: {
                    StudentId: "required",
                    CourseId: "required",
                    GradeId: "required"
                },
                messages: {
                    StudentId: "Select Student Reg No.",
                    CourseId: "Select Course",
                    GradeId: "Select Grade"
                }
            });

        });


        $(document).ready(function () {
            $("#StudentId").change(function () {
                var student = $("#StudentId").val();
                $("#StudentName").empty();
                $("#StudentEmail").empty();
                $("#DepartmentName").empty();
                var json = {
                    StudentId: student
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GateRegisterNumberByStudentId", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $("#StudentName").val(data.StudentName);
                        $("#StudentEmail").val(data.StudentEmail);
                        $("#DepartmentName").val(data.DepartmentName);
                    }
                });
            });

        });

        $(document).ready(function () {
            $("#StudentId").change(function () {
                var student = $("#StudentId").val();
                $("#CourseId").empty();
                $("#CourseId").append('<option value="">----Select-----</option>');
                var json = {
                    StudentId: student
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GateAllCourse", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#CourseId").append('<option value=' + value.CourseId + '>' + value.CourseName + '');

                        });
                    }
                });
            });

        });
    </script>
}
